# Supabase Public
NEXT_PUBLIC_SUPABASE_URL=https://jfsntemfaibzirvlthdg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impmc250ZW1mYWliemlydmx0aGRnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU2Mjk4NDcsImV4cCI6MjAzMTIwNTg0N30.CdudFQmCKCEAUJbIYVKhNVDx9dKmrrQzf0CG6kAkeqo

# Supabase Private
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impmc250ZW1mYWliemlydmx0aGRnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcxNTYyOTg0NywiZXhwIjoyMDMxMjA1ODQ3fQ.exKtdGfhZdetTc6dPnOsWs3rxm5KE4VYaciJ6YCCSfE

# Ollama
NEXT_PUBLIC_OLLAMA_URL=http://localhost:11434

# API Keys (Optional: Entering an API key here overrides the API keys globally for all users.)
OPENAI_API_KEY=sk-proj-YKwG6c9W3HrbhWmqwJ0WT3BlbkFJVQ7TqRUk2QsozpcUuRnG
ANTHROPIC_API_KEY=
GOOGLE_GEMINI_API_KEY=
MISTRAL_API_KEY=HypVEJ5eCVEO0aJrMos7lipRtIR8ew5j
GROQ_API_KEY=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
PERPLEXITY_API_KEY=
OPENROUTER_API_KEY=

# OpenAI API Information
NEXT_PUBLIC_OPENAI_ORGANIZATION_ID=

# Azure API Information
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_GPT_35_TURBO_NAME=
AZURE_GPT_45_VISION_NAME=
AZURE_GPT_45_TURBO_NAME=
AZURE_EMBEDDINGS_NAME=

# General Configuration (Optional)
EMAIL_DOMAIN_WHITELIST=
EMAIL_WHITELIST=

# File size limit for uploads in bytes
NEXT_PUBLIC_USER_FILE_SIZE_LIMIT=10485760
